* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    height: 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 0 0 100px;
    box-sizing: border-box;
    transition: .5s;
    z-index: 4;
}

.navbar .channel {
    position: relative;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    float: right; 
    background: #000;
    border-radius: 20px;
    opacity: .7;
}

.navbar ul li {
    list-style: none;
    line-height: 80px;
    text-align: center;
}

.navbar ul li a {
    display: block;
    padding: 0 30px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
}

/* .navbar ul li a.active, */
.navbar ul li a:hover {
    background: #C5C1C0;
    color: #222;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
    background-image: url('../images/austin/image2.png');
    min-height: 100vh;

}

.pimg2 {
    background-image: url('../images/austin/image1.jpg');
    min-height: 10vh;
}

/* .pimg3 {
    background-image: url('../images/austin/image3.jpg');
    min-height: 100vh;
} */

.section {
    text-align: center;
    padding: 50px 80px;
    min-height: 400px;
}

.section-light {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #f4f4f4;
    color: #222;
}

.section-dark {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    font-weight: 500;
}

.ptext p {
    padding: 4px;
    font-size: 17px;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border.transparent {
    background-color: transparent;
}

body,wrap {
    background-color: #222;
}


@font-face {
    font-family: "Genericons";
    src: url('../fonts/genericons/genericons-regular-webfont.woff')format('woff'),
    url('../fonts/genericons/genericons-regular-webfont.eot')format('truetype')
}

.wrapper {
    margin-top: 0px;
    margin-bottom: 0px;
    margin: auto;
    width: 90%;
    line-height: 0px;
}

header {
    padding-top: 9px;
    padding-bottom: 12px;
}
header h1 {
    color: #fff;
    margin-top: 9px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 300;
}

.accordion {
    background: #222;
    width: 100%;
    min-width: 800px;
    display: block;
    list-style-type: none;
    overflow: hidden;
    height: 200px;
    font-size: 0;
}

.tab {
    display: inline-block;
    background-color: #444;
    border-right: #333 solid 1px;
    width: 80px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: 0;
    transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover {
    width: 440px;
} 

.tab:hover .social a:before {
    margin-left: -100px;
}

.tab:hover .social a:after {
    margin-left: -5px;
}

.tab .content {
    background: #fff;
    width: 360px;
    height: 200px;
    margin-left: 80px;
    margin-top: 0px;
    position: relative;
    padding: 50px 0 0 40px;
}

.tab .content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
} 

.tab .content p {
    font-size: 0.85rem;
    line-height: 1.4rem;
    padding-top: 10px;
    padding-right: 30px;
}

.social a:before,
.social a:after {
    transition: all 0.4s ease-in-out 0.1s;
    width: 80px;
    height: 200px;
    position: absolute;
    text-indent:0;
    padding-top: 90px;
    padding-left: 25px;
    display: block;
    font: normal 30px Genericons;
    color: #fff;
}

.social a:after {
    font-size: 48px;
    padding-left: 20px;
    padding-top: 80px;
    margin-left: 85px;
}

/* Add Icons */

.github a:before, 
.github a:after {
    content: '\f200'
}

.github a:after {
    background-color: #6cc644;
}

.linkedin a:before,
.linkedin a:after {
    content: '\f208'
}

.linkedin a:after {
    background-color: #0077B5; 
}

.gmail a:before,
.gmail a:after {
    content: '\f206'
}

.gmail a:after {
    background-color: #d34836; 
}

.hound a:before,
.hound a:after {
    content: '\f408'
}

.hound a:after {
    background-color: rgb(160,80,45);
}

@media(max-width: 950px) {
    .container {
        width: 70%;
    }

    .tab {
        display: block;
        width: 100%;
        border-bottom: 3px #333 solid;
    }

    .accordion {
        display: block;
        min-width: 450px;
        height: auto;
    }

    .tab content {
        width: 85%;
    }

    .tab:hover {
        width: 100%;
    }
}

@media (max-width: 680px) {
    .container {
        width: 95%;
    }

    .accordion {
        width: 100%;
        min-width: 350px;
    }
}
